<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
      {{ title }}!
  </h1>
</div>

  <div class="caption">
    <div class="border">HELLO ANGULAR!</div>
  </div>



<div class="pic"></div>


<div class="timetable">
  <ul><strong>
    2016 Graduated from Yonghwa Girls' High School<br><br>
    2017 Admission Duksung university<br><br>
    2017 Join a Broadcasting Company<br><br>
    2018 Major rename to IT Media Engineerting<br><br>
    2019 Attending an Engineering University<br><br>
    </strong>
  </ul>


</div>

<div class="formtag">
<form action="send_success.html" method="post">
  <strong>
  Name &nbsp;&nbsp;&nbsp;&nbsp;</strong><input type="text" placeholder="your name"><br><br>
  <strong>How to connect me</strong><br><br>
  <input type="radio" name = "connect" value="gmail"> Gmail
  <input type="radio" name = "connect" value="facebook message"> Facebook Message
  <input type="radio" name = "connect" value="University email"> Duksung Mail
  <input type="radio" name = "connect" value="phone number"> Phone
  <br><br>
  <strong>send_anything!</strong><br><br>
  <textarea   cols ="62" rows = "8" placeholder="send_anything!">

  </textarea><br><br>
  <input type="submit" value="Send!"><br><br>

</form>
</div>


<div class="about">
<h2>Here is the link that I worked on!</h2>
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://github.com/KangSuzy">KangSuzy's Github</a></h3>
  </li>

</ul>
</div>
<router-outlet></router-outlet>
