<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
      {{ title }}!
  </h1>
</div>

  <div class="caption">
    <div class="border">HELLO ANGULAR!</div>
  </div>

<!--<div class="img">
   <img src="me.jpg">
</div>-->

<div class="pic"></div>

<div class="about">
<h2>Here are some links to know me!</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/KangSuzy">Suzy's GitHub</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.instagram.com/kangsu_2ji/">Suzy's Instagram</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/astnwl321/">Suzy's FaceBook</a></h2>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
